@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=La+Belle+Aurore&family=Roboto+Mono:wght@100&display=swap");

:root {
  --font: "Roboto", sans-serif;
  --font-mono: "Roboto Mono", monospace;
  --font-cursive: "La Belle Aurore", cursive;
}
