.button {
  &:focus-visible {
    outline: none;
  }

  button {
    height: 100%;
    padding: 0.6em 1em;
    border: 1px solid var(--accent);
    border-radius: 5px;
    background: none;
    color: var(--accent);
    font-family: var(--font-mono);
    font-size: 1rem;
    cursor: pointer;
    display: flex;
    transition: background-color 250ms;

    &:focus-visible,
    &:hover {
      background-color: rgba(var(--accent-hover), 0.1);
      outline: none;
    }
  }

  svg {
    margin-left: 1em;
  }
}
