@use "styles/breakpoints";

.about {
  width: 100%;
  background: var(--dark-bg2);
  padding-top: 5em;
  padding-bottom: 5em;

  .content {
    max-width: 90em;
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    gap: 3em;
    width: 100%;
    padding-left: var(--padding);
    padding-right: var(--padding);

    @include breakpoints.width(md) {
      flex-direction: column;
    }

    .left {
      flex: 1;

      .links {
        display: flex;
        vertical-align: middle;
        align-items: center;
        gap: 1em;
        margin-top: 1em;

        .contact {
          text-decoration: underline;
          font-family: var(--font-mono);
          color: var(--text2);
          font-size: 1rem;
        }
      }

      p {
        font-size: 1rem;
        color: var(--text2);
        white-space: pre-line;
        margin-right: 5em;

        @include breakpoints.width(md) {
          margin-right: 0;
        }
      }
    }

    .right {
      flex: 1;
      max-width: 500px;
      max-height: 500px;

      @include breakpoints.width(md) {
        margin-top: 5em;
      }
    }
  }
}
