$breakpoints: (
  "sm": "40em", //640px
  "md": "64em", //1024px
  "lg": "90em", //1440px
);

@mixin width($size) {
  @media (max-width: map-get($breakpoints, $size)) {
    @content;
  }
}

@mixin height($size) {
  @media (max-height: map-get($breakpoints, $size)) {
    @content;
  }
}
